ConsoleTestWebService/Connected Services/ServiceReferencePayment/PaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56668/PaymentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56668/PaymentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentService_GetUsernameByUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsernameByUID" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_GetUsernameByUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsernameByUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_GetBalanceByUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceByUID" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_GetBalanceByUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceByUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_AddCashWithUID_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCashWithUID" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_AddCashWithUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCashWithUIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaymentService">
    <wsdl:operation name="GetUsernameByUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/GetUsernameByUID" message="tns:IPaymentService_GetUsernameByUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/GetUsernameByUIDResponse" message="tns:IPaymentService_GetUsernameByUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBalanceByUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/GetBalanceByUID" message="tns:IPaymentService_GetBalanceByUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/GetBalanceByUIDResponse" message="tns:IPaymentService_GetBalanceByUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCashWithUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/AddCashWithUID" message="tns:IPaymentService_AddCashWithUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/AddCashWithUIDResponse" message="tns:IPaymentService_AddCashWithUID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaymentService" type="tns:IPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsernameByUID">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/GetUsernameByUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceByUID">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/GetBalanceByUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCashWithUID">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/AddCashWithUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentService">
    <wsdl:port name="BasicHttpBinding_IPaymentService" binding="tns:BasicHttpBinding_IPaymentService">
      <soap:address location="http://localhost:56668/PaymentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>